Sequencing
- process Covid-19 dinucleotides and features from the dataset file

In [ ]:
!pip install Bio
import Bio
from Bio.Seq import Seq
from Bio.SeqUtils import GC
import pandas as pd
from Bio import motifs

nucleotides = ['A','T', 'C', 'G']
dinucleotide_dict = {}

with open('covid-19.fasta') as fd:
  for record in SeqIO.parse(fd, 'fasta'):
    for nucleotide_1 in nucleotides:
        for nucleotide_2 in nucleotides:
          dinucloetide = str(nucleotide_1) + str(nucleotide_2)
          if dinucloetide not in dinucleotide_dict:
            dinucleotide_dict[dinucloetide] =0
          dinucleotide_dict[dinucloetide] += record.seq.count(dinucloetide)

    A_ = record.seq.count('A')
    dinucleotide_dict['A_count'] = round(record.seq.count('A')/seq_length*100, 2)
    C_ = record.seq.count('C')
    dinucleotide_dict['C_count'] = round(record.seq.count('A')/seq_length*100, 2)
    G_ = record.seq.count('G')
    dinucleotide_dict['G_count'] = round(record.seq.count('A')/seq_length*100, 2)
    T_ = record.seq.count('T')
    dinucleotide_dict['T_count'] = round(record.seq.count('A')/seq_length*100, 2)
    dinucleotide_dict['GC_content'] = round(GC(record.seq), 2)

print(dinucleotide_dict)

{'AA': 403, 'AT': 278, 'AC': 116, 'AG': 304, 'TA': 236, 'TT': 278, 'TC': 137, 'TG': 243, 'CA': 119, 'CT': 125, 'CC': 61, 'CG': 119, 'GA': 309, 'GT': 313, 'GC': 98, 'GG': 278, 'A_count': 12.86, 'C_count': 12.86, 'G_count': 12.86, 'T_count': 12.86, 'GC_content': 10.0}

In [ ]:
df = pd.DataFrame.from_dict([dinucleotide_dict])
df['virus'] = 'Covid19'
df.to_csv('covid-19.csv', index=None)
df.head()

,AA,AT,AC,AG,TA,TT,TC,TG,CA,CT,...,GA,GT,GC,GG,A_count,C_count,G_count,T_count,GC_content,virus
0,403,278,116,304,236,278,137,243,119,125,...,309,313,98,278,12.86,12.86,12.86,12.86,10.0,Covid19

In [ ]:
motifs__ = [Seq('ACGT'),Seq('TCGA'), Seq('CGGC')]
seq__ = motifs.create(motifs__)
seq__, print(seq__), print(seq__.counts)

ACGT
TCGA
CGGC

        0      1      2      3
A:   1.00   0.00   0.00   1.00
C:   1.00   2.00   0.00   1.00
G:   0.00   1.00   3.00   0.00
T:   1.00   0.00   0.00   1.00

(<Bio.motifs.Motif at 0x78fd77204e50>, None, None)